In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pathlib import Path
from scipy.stats import linregress

In [17]:
# Load Data
shopping_data = Path("shopping_trends_data.csv")
shopping_data_df = pd.read_csv(shopping_data)
shopping_data_df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [18]:
shopping_data_df["Frequency of Purchases"].value_counts()

Frequency of Purchases
Every 3 Months    584
Annually          572
Quarterly         563
Monthly           553
Bi-Weekly         547
Fortnightly       542
Weekly            539
Name: count, dtype: int64

In [20]:
# Clean-up data
# Drop null values
shopping_data_df.dropna()

# Fix the Frequency of Purchases
for index, row in shopping_data_df.iterrows():
    if shopping_data_df.loc[index, "Frequency of Purchases"] == "Every 3 Months":
        shopping_data_df.loc[index, "Frequency of Purchases"] = "Half-Yearly"
    

shopping_data_df["Frequency of Purchases"].value_counts()

Frequency of Purchases
Half-Yearly    584
Annually       572
Quarterly      563
Monthly        553
Bi-Weekly      547
Fortnightly    542
Weekly         539
Name: count, dtype: int64

In [39]:
# Gender, Category-wise statistics

print('Gender wise differentiation of Shoppers:')
shopping_data_df['Gender'].value_counts()

Gender wise differentiation of Shoppers:

Gender
Male      2652
Female    1248
Name: count, dtype: int64

In [46]:
gender_df = shopping_data_df.groupby(['Gender', 'Category'])
purchase_gender_category_wise = gender_df['Purchase Amount (USD)'].sum()
print("Total Purchase Amount by Category:")
print(purchase_gender_category_wise)

Total Purchase Amount by Category:
Gender  Category
Female  Accessories    23819
        Clothing       33636
        Footwear       11835
        Outerwear       5901
Male    Accessories    50381
        Clothing       70628
        Footwear       24258
        Outerwear      12623
Name: Purchase Amount (USD), dtype: int64